.n {
    margin: 20px 12px
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0
}

.a {
    display: inline-block;
    
}

.a {
    width: 340px;
    padding: 30px;
}
.aa {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
    color: rgb(22, 28, 45);
    letter-spacing: -0.5px;
}

.ab {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 48;
    margin-top: 0px;
    color: rgb(134, 154, 184);
}

.b {
    display: inline-block;
    
}

.b {
    width: 340px;
    padding: 30px;
}
.ba {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
    color: rgb(22, 28, 45);
    letter-spacing: -0.5px;
}

.bb {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 48;
    margin-top: 0px;
    color: rgb(134, 154, 184);
}

.c {
    display: inline-block;
    
}

.c {
    width: 340px;
    padding: 30px;
}
.ca {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
    color: rgb(22, 28, 45);
    letter-spacing: -0.5px;
}

.cb {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 48;
    margin-top: 0px;
    color: rgb(134, 154, 184);
}